<div class="card">
    <div class="card-body">
      <div class="card-title">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Visa ending in 1000, 02/2022</label>
          </div>
          <div class="card-icon"><img src="./assets/images/visa_icon.png" /></div>
        </div>
      <h6 class="card-subtitle mb-2"><small>* Default Payment Method</small></h6>
      <div class="billing-address">
          <h5>Billing Address</h5>
          <div class="box">
              <p>Natasha Quijano -<br><br>

                1000 Miami St, Unit 1000,<br>
                San Francisco, CA 94103, US</p>
          </div>
      </div>
      <a class="card-link">Edit Payment</a>
      <a class="card-link">Remove</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Visa ending in 1000, 02/2022</label>
          </div>
          <div class="card-icon"><img src="./assets/images/visa_icon.png" /></div>
        </div>
      <h6 class="card-subtitle mb-2"><small>* Default Payment Method</small></h6>
      <div class="billing-address">
          <h5>Billing Address</h5>
          <div class="box">
              <p>Natasha Quijano -<br><br>

                1000 Miami St, Unit 1000,<br>
                San Francisco, CA 94103, US</p>
          </div>
      </div>
      <a class="card-link">Edit Payment</a>
      <a class="card-link">Remove</a>
    </div>
  </div>

  <button class="default-btn btn">ADD PAYMENT METHOD</button>