<h3>Terms of Use and Disclaimers</h3>
<p class="sub-title">Terms of use for pinkerton.com and related sites</p>
<div class="term-condition-box">
    <div class="inner-box">
    <p>TERMS OF USE FOR PINKERTON.COM AND RELATED SITES</p>

    <p>PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING ANY PORTION OF THIS SITE, OR ANY RELATED SITES. BY VISITING
        OR USING THIS SITE, OR ANY PAGE OF THIS SITE, OR LINK CONTAINED THEREON, OR DATA, INFORMATION, PRODUCTS, AND/OR
        SERVICES PROVIDED IN CONNECTION THEREWITH, YOU AGREE TO BE BOUND BY THESE TERMS OF USE, AND YOU ACKNOWLEDGE THAT
        SUCH AGREEMENT CONSTITUTES A BINDING CONTRACT BETWEEN YOU AND PINKERTON CONSULTING & INVESTIGATIONS INC. AND ITS
        AFFILIATES ("PINKERTON").</p>

    <p>IF YOU DO NOT AGREE TO THESE TERMS OF USE, PLEASE DO NOT USE THIS SITE OR ANY SITES, LINKS, OR DATA ASSOCIATED
        THEREWITH, AS ANY USE BY YOU CONSTITUTES YOUR EXPRESS AND UNCONDITIONAL ACCEPTANCE OF THESE TERMS OF USE.</p>

    <p>PINKERTON RESERVES THE RIGHT, AT ITS DISCRETION, TO UPDATE OR REVISE THESE TERMS OF USE. PLEASE CHECK THE TERMS
        PERIODICALLY FOR REVISIONS AND UPDATES. YOUR CONTINUED USE OF THIS SITE, LINKS, OR DATA ASSOCIATED THEREWITH,
        AFTER THE POSTING OF CHANGES TO THE TERMS OF USE, CONSTITUTES ACCEPTANCE OF THOSE CHANGES.</p>

    <p>General.</p>

    <p>The Site is owned and operated by PINKERTON. PINKERTON has the right at any time and in its sole discretion to
        change or discontinue any aspect or feature of this site, including, without limitation, the site’s content,
        hours of availability, and equipment needed for access or use of the PINKERTON.com site, any related site,
        and/or any content, information, reports, and/or data in any way associated therewith or contained therein (the
        "Site").</p>

    <p>By accessing, viewing, and/or using the Site, you shall be bound by and subject to, and PINKERTON suggests that
        you review, the PINKERTON Privacy Policy, Disclaimers, and other information and disclosures, if any, contained
        on and/or linked to the Site.</p>

    <p>Please refer to our Privacy Policy for details concerning how PINKERTON collects, uses, and discloses information
        from users ("Visitors") who access, view, and/or use the Site without registering or subscribing ("Visit"),
        users ("Registrants") who request, receive, enroll in, register for, or otherwise express interest in
        information, services, and/or products offered on the Site or by our associates ("Register"), and users
        ("Subscribers") who purchase information, reports, products and/or other services offered on the Site or by our
        associates ("Subscribe"). </p>

    <p>In the event the Registrant or Subscriber is a business or organization, the employees, members, shareholders,
        directors, and/or managers of the business or organization shall be permitted to make use of the PINKERTON Site,
        internally, as one Registrant or Subscriber.</p>

    <p>Many, if not most, communications between PINKERTON and you will be sent and received electronically. Please
        refer to our Privacy Policy for details concerning how PINKERTON communicates with its Visitors, Registrants,
        and Subscribers. You agree that all agreements, notices, disclosures and/or other communications exchanged
        between you and PINKERTON electronically shall satisfy any legal requirements that such communications be in
        writing, contain signatures, and otherwise constitute binding obligations.</p>

    <p>All services and information are provided electronically, with no transfer, delivery, and/or sale and/or
        licensing of tangible personal property and/or software whatsoever.</p>

    <p>When you Register or Subscribe, you expressly consent to PINKERTON using: (a) your individual name, (b) the
        formal or fictitious name of the company, corporation, business, partnership, firm, agency, group, and/or entity
        on whose behalf you Registered or Subscribed, and/or (c) any testimonial, statement, endorsement,
        recommendation, and/or comment you submit concerning PINKERTON or its services, including PINKERTON, for
        PINKERTON’s advertisement, marketing, promotional, and/or endorsement purposes, including the fact that you
        and/or the entity with whom you are affiliated uses PINKERTON’s services (collectively, "Customer References").
        If you have any questions about PINKERTON’s Customer References policy, please (contact us).</p>

    <p>PINKERTON assembles information from a variety of sources including government and third-party databases
        containing information from public records, repositories, commercial data brokers, third-party information
        providers, and private PINKERTON sources.  User understands that these information sources and resources are not
        maintained by PINKERTON.  Therefore, PINKERTON cannot be a guarantor that the information provided from these
        sources is absolutely accurate or current.</p>

    <p>Restrictions on Use.</p>

    <p>The Site contains proprietary information (including, without limitation, copyrighted material, trademarks,
        patented and patent-pending data, and other proprietary information), text, data, information, software, photos,
        graphics, and reports (collectively, the "Content").</p>

    <p>The Content of the Site, as well as the organization, layout, arrangement and design elements of the Site and
        each individual page of the Site, are the property of PINKERTON and/or its licensors, affiliates, or third
        parties, and are protected by United States and international copyright, trademark and other applicable
        intellectual property laws. You may not modify, publish, transmit, display, participate in the transfer or sale,
        create or attempt to create derivative works, or in any way exploit any of the Site and/or the Content, in whole
        or in part.</p>

    <p>No copying, redistribution, retransmission, publication or exploitation (commercial or otherwise) of the Content
        is permitted without the express written permission of PINKERTON or the Content owner. In the event of any
        permitted copying, redistribution, or publication of the Content, no changes in, or deletion of, author
        attribution, trademark legend, or copyright notice shall be made. You acknowledge that you do not acquire any
        ownership rights by viewing, downloading, or printing the Content (including proprietary/protected material), or
        by using the Site.</p>

    <p>You may not (i) modify, distribute, share, publish, broadcast, or circulate any portion of the Site or Content
        (including, but not limited to, any download or printed copies made from it), except with respect to utilizing
        the Site’s "Share" function, which sharing is expressly permitted; (ii) engineer, reverse engineer, decrypt,
        assemble, disassemble, compile, or decompile any object code or algorithms or create derivative works from the
        Site or Content; (iii) sublicense, sell, or resell any portion of the Site or Content to any third party, or
        (iv) remove, obscure, deface or otherwise interfere with any proprietary or restrictive notice or legend
        contained in or included on any part of the Site or Content. You also agree not to access or copy any portion of
        the Site or Content through any automated viewing, downloading or crawling systems.</p>

    <p>PINKERTON offers Visitors, Registrants, and Subscribers access to the Site and to certain Content available on
        the Site solely for your own use, and, with respect to certain Content, pursuant to Registration or Subscription
        terms and conditions agreed upon by you and PINKERTON.</p>

    <p>To the extent any terms or conditions contained in these Terms of Use directly conflict with any Registration or
        Subscription terms and conditions, the Registration or Subscription terms and conditions shall control;
        additional terms and conditions contained in these Terms of Use shall remain in full force and effect.</p>

    <p>You may not make use of any robots, spiders, or similar data mining, data gathering or extraction tools or manual
        processes to collect, gather or copy any of the Content in an unauthorized manner. You may not engage in the
        practices of "screen scraping," "database scraping," or any other practice or activity the purpose of which is
        to obtain lists of users, portions of a database, or other lists or information from the Site, in any manner or
        in any quantities not authorized in writing by PINKERTON.</p>

    <p>You may not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information
        (including data, ratings, descriptions, images, text, page layout, or form) of PINKERTON and/or its licensors,
        affiliates, and/or other third parties, without prior express written consent. You may not use meta tags or any
        other "hidden text" utilizing PINKERTON, PINKERTON, the Content, or any other proprietary name and/or material,
        without the express written consent of PINKERTON</p>

    <p>Systematic retrieval of the Content or other data from the Site to create or compile, or attempt to create or
        compile, directly or indirectly, in whole or in part, a collection, compilation, database or directory without
        the express written permission of PINKERTON is strictly prohibited.</p>

    <p>You may not use the Site and/or the Content in any manner that could damage, disable, overburden, or impair the
        Site and/or the Content or interfere with any other person’s use and enjoyment of the Site and/or the Content.</p>

    <p>The provisions of these Terms of Use are for the benefit of PINKERTON, its parents, subsidiaries, affiliates,
        principals, and its third-party content providers and licensors, if any, and each shall have the right to assert
        and enforce such provisions directly or on its own behalf.</p>

    <p>Illegal and/or unauthorized uses of this Site and/or the Content, including, but not limited to, unauthorized
        framing of or linking to the Site and/or the Content, or unauthorized use of any robot, spider, or other
        automated device on the Site, or any manual process to monitor or copy any portion of the Content, will be
        investigated and appropriate legal action will be taken, including without limitation, civil and criminal
        proceedings, and proceedings for restraining orders and injunctions. You shall be liable to PINKERTON for all
        damages, harm, losses, costs, and/or expenses, including attorneys’ and experts’ fees, incurred in connection
        with the same.</p>

    <p>Disclaimer of Warranty; Limitation of Liability.</p>

    <p>YOU EXPRESSLY AGREE THAT USE OF THE SITE AND THE CONTENT IS AT YOUR SOLE RISK. NEITHER PINKERTON, ITS AFFILIATES,
        NOR ANY OF THEIR RESPECTIVE EMPLOYEES, AGENTS, PRINCIPALS, OWNERS, OFFICERS, DIRECTORS, THIRD PARTY CONTENT
        PROVIDERS, OR LICENSORS WARRANT THAT THE SITE AND/OR THE CONTENT WILL BE UNINTERRUPTED, ACCURATE, CONSISTENT,
        RELIABLE, OR ERROR FREE; NOR DO THEY MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM USE OF THE
        SITE, OR AS TO THE ACCURACY OR RELIABILITY OF THE CONTENT AND/OR ANY INFORMATION, SERVICE, OR MATERIALS PROVIDED
        THROUGH THE SITE.</p>

    <p>THE SITE AND THE CONTENT IS PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR
        IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR
        PURPOSE.</p>

    <p>YOU FURTHER EXPRESSLY AGREE THAT THE INFORMATION, RATINGS, DATA AND OTHER CONTENT CONTAINED IN AND/OR PRODUCED ON
        THE SITE, OR ON ANY PAGE OF THE SITE, IS A WORK OF ART, AND AS SUCH, NO WARRANTIES OR REPRESENTATIONS WHATSOEVER
        ARE EXPRESSED OR IMPLIED INCLUDING WITH REGARD TO ACCURACY, RELIABILITY, QUALITY OR SUITABILITY OF THE
        INFORMATION PROVIDED HEREIN.</p>

    <p>TO THE EXTENT THE SITE AND/OR ANY CONTENT IS PROSPECTIVE IN NATURE, INCLUDING THE FORECASTING OF THE POTENTIAL
        OCCURRENCE OR NON-OCCURRENCE OF CONDITIONS AND/OR EVENTS, SUCH INFORMATION IS INHERENTLY UNCERTAIN AND,
        ACCORDINGLY, MAY NOT BE RELIED UPON BY YOU OR ANY OTHER PARTY FOR ANY PURPOSE, INCLUDING, WITHOUT LIMITATION,
        REAL ESTATE INVESTMENT, BUSINESS, AND/OR OTHER DECISIONS, TRANSACTIONS, AND/OR OTHER FORWARD-LOOKING MATTERS.
    </p>

    <p>ACTUAL RESULTS COULD DIFFER MATERIALLY FROM THOSE ANTICIPATED IN ANY FORWARD-LOOKING INFORMATION SUPPLIED BY
        PINKERTON OR ANY THIRD PARTY</p>

    <p>THIS DISCLAIMER OF LIABILITY APPLIES TO ALL USES OF THE SITE AND THE CONTENT AND ANY LOSSES, COSTS, DAMAGES OR
        INJURY CAUSED BY ANY FAILURE OF PERFORMANCE, ERROR, OMISSION, INACCURACY, INTERRUPTION, DELETION, DEFECT, DELAY
        IN OPERATION OR TRANSMISSION, COMPUTER VIRUS, COMMUNICATION LINE FAILURE, THEFT OR DESTRUCTION OR UNAUTHORIZED
        ACCESS TO, ALTERATION, OR USE OF THE SITE AND/OR THE CONTENT, WHETHER FOR BREACH OF CONTRACT, TORTIOUS BEHAVIOR
        (INCLUDING STRICT LIABILITY), NEGLIGENCE, OR UNDER ANY OTHER CAUSE OF ACTION.</p>

    <p>YOU SPECIFICALLY ACKNOWLEDGE THAT PINKERTON IS NOT LIABLE FOR ANY DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF
        OTHER USERS OR THIRD-PARTIES (INCLUDING ANY BUSINESS, ENTITY, AND/OR SOURCE CONTAINED ON AND/OR LINKED TO THE
        SITE) AND THAT THE RISK OF INJURY FROM THE FOREGOING RESTS ENTIRELY WITH YOU.</p>

    <p>IN NO EVENT WILL PINKERTON, OR ANY PERSON OR ENTITY INVOLVED IN CREATING, PRODUCING, OR DISTRIBUTING THE SITE OR
        THE CONTENT (INCLUDING, WITHOUT LIMITATION, PINKERTON’S OFFICERS, PRINCIPALS, DIRECTORS, SHAREHOLDERS,
        AFFILIATES, EMPLOYEES, CONTRACTORS, AND/OR LICENSORS) BE LIABLE IN CONTRACT, IN TORT (INCLUDING FOR ITS OWN
        NEGLIGENCE) OR UNDER ANY OTHER LEGAL THEORY (INCLUDING STRICT LIABILITY) FOR ANY DAMAGES, INCLUDING, WITHOUT
        LIMITATION, DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, CONSEQUENTIAL, OR SIMILAR DAMAGES, INCLUDING,
        WITHOUT LIMITATION, LOST PROFITS OR REVENUES, LOSS OF USE, OR SIMILAR ECONOMIC LOSS, ARISING OUT OF THE CONTENT
        OF THE SITE, AND/OR THE USE OF OR INABILITY TO USE THE SITE AND/OR THE CONTENT.</p>

    <p>YOU HEREBY ACKNOWLEDGE THAT THE PROVISIONS OF THIS SECTION SHALL APPLY TO ALL USE OF AND CONTENT ON THE SITE.</p>

    <p>IN NO EVENT SHALL PINKERTON’S TOTAL LIABILITY TO YOU OR ANY OTHER PERSON OR ENTITY WHATSOEVER/WHOMSOEVER FOR ALL
        DAMAGES, LOSSES, AND CAUSES OF ACTION WHETHER IN CONTRACT, TORT (INCLUDING ITS OWN NEGLIGENCE) OR UNDER ANY
        OTHER LEGAL THEORY (INCLUDING STRICT LIABILITY) EXCEED THE GREATER OF $1.00 OR THE AMOUNT PAID BY YOU, IF ANY,
        FOR ACCESSING THE SITE AND/OR THE CONTENT, INCLUDING OBTAINING ANY REPORTS, DATA, OR OTHER INFORMATION FROM THE
        SITE.</p>

    <p>Indemnification</p>

    <p>You agree to defend (with counsel of PINKERTON’s choosing), indemnify, and hold harmless PINKERTON and its
        affiliates and their respective directors, officers, shareholders, principals, employees, licensors, and agents
        from and against any and all claims, actions, demands, damages, costs, liabilities, losses, and expenses
        (including reasonable attorneys’ fees) arising out of your use of, and/or access to, the Site or any information
        you obtain from the Site or its Content, including, without limitation, reports, summaries, classifications,
        and/or rankings.</p>

    <p>Trademarks and Patents</p>

    <p>All trademarks and service marks of PINKERTON and its subsidiaries or affiliates displayed on the Site or
        expressed or contained anywhere in the Content are subject to state, federal, and/or international trademark
        protection. Unless expressly authorized by PINKERTON, you may not use its trademarks or service marks with any
        product or service that is not provided by PINKERTON, or in any manner that is likely to cause confusion among
        customers, or that might disparage or discredit PINKERTON. All other trademarks appearing on the Site are the
        property of their respective owners, including third-party providers of products and services with links to and
        from the Site.</p>

    <p>PINKERTON and all other marks are registered trademarks of PINKERTON and are all pending or registered in the
        U.S. Patent and Trademark Office. Unauthorized use of patented technology, copyright material, service
        marks/trademarks, and other proprietary and/or intellectual property is strictly prohibited.</p>

    <p>Third Parties</p>

    <p>Any information or content expressed or made available by third parties, including information providers,
        licensors, advertisers, and users, are those of the respective author(s) or distributor(s) and not of PINKERTON.</p>

    <p>The Site may contain links to third party web sites with which PINKERTON has linking arrangements, but for which
        PINKERTON does not maintain control or assume any responsibility whatsoever. The inclusion of such a link does
        not imply endorsement of such sites by PINKERTON or constitute any association and/or joint venture with the
        operators of such linked sites whatsoever. Any concerns regarding any such third-party site, service, or
        resource, or any link associated therewith, should be directed to the service or resource. In addition,
        PINKERTON recommends that you review these sites’ terms of use and privacy policies.</p>

    <p>Viruses
    <p>

    <p>PINKERTON assumes no responsibility, and shall not be liable for, any damages to, or viruses that may infect, any
        computer equipment or other property on account of your access to, use of, or browsing in and/or on the Site or
        your viewing, printing, and/or downloading of any materials, data, text, images, video, or audio from the Site.

    <p>Export Control</p>

    <p>Software and other materials from this Site may also be subject to United States Export Control. The United
        States Export Control laws prohibit the export of certain technical data and software to certain territories.
        Nothing from this Site may be downloaded or exported (1) into (or to a national or resident of) Iraq, Libya,
        North Korea, Iran, Syria, or any other country to which the United States has embargoed goods; or (2) anyone on
        the Unites States Treasury Department’s list of Specially Designated Nationals or the US Commerce Department’s
        Table of Deny Orders.</p>

    <p>PINKERTON does not authorize the downloading or exportation of any information, technical data and/or materials
        from this Site to any jurisdiction prohibited by the United States Export Laws.</p>

    <p>Business Associates</p>

    <p>The business associates of PINKERTON identified on the Site, if any, are distinct entities and third party or
        independent contractors of PINKERTON, for which PINKERTON has no obligation or liability whatsoever. The
        business associates, if any, are not joint ventures or partners of PINKERTON No employee, principal, or
        representative of the business associates, if any, is under the control of PINKERTON and PINKERTON has no right
        or obligation to control, or attempt to control, the same.</p>

    <p>Changed Terms</p>

    <p>PINKERTON has the right at any time to change or modify the terms and conditions applicable to use of the Site
        and/or the Content, or any part thereof, or to impose new conditions, including, without limitation, adding fees
        and charges for use. Such changes, modifications, additions, or deletions shall be effective immediately upon
        notice thereof, which may be given by any means including, without limitation, posting on the Site, or by
        electronic or conventional mail, or by any other means. Any use of the Site and/or the Content by you after such
        notice shall be deemed to constitute acceptance of such changes, modifications, additions, or deletions.</p>

    <p>Limited Use</p>

    <p>Any use of the Site in violation of these Terms of Use or any applicable terms or conditions of Registration or
        Subscription required by the Site, is strictly prohibited.</p>

    <p>Commercial resale and/or redistribution of any information, products, and/or services from PINKERTON, the Site,
        and/or the Content are strictly prohibited without prior written consent from PINKERTON.</p>

    <p>Any suspected use of the Site or any Content in violation of these Terms of Use or any applicable Registration or
        Subscription terms or conditions required by the Site will, in PINKERTON’s sole discretion, lead to the
        suspension of access to the Site and/or the Content, and such other and further action as PINKERTON deems
        appropriate, including legal action for which any wrongful user(s) shall be fully responsible, including,
        without limitation attorneys’ and experts’ fees. The determination of proper or improper use is at the sole
        discretion of PINKERTON</p>

    <p>Waiver</p>

    <p>Unless in writing and signed by PINKERTON, the purported waiver by PINKERTON of any breach, violation,
        misconduct, illegality, and/or impropriety shall not be construed as a waiver of the same and/or any succeeding
        breach, violation, misconduct, illegality, and/or impropriety or any other right, nor shall any delay or
        omission on the part of PINKERTON to exercise or avail itself of any right, power or privilege that it has, or
        may have hereunder, operate as a waiver of any right, power or privilege by PINKERTON</p>

    <p>Severability</p>

    <p>To the maximum extent possible, each provision contained herein shall be interpreted in such manner as to be
        valid and enforceable under applicable law. If any provision (or portion thereof) is held to be invalid or
        unenforceable under applicable law, such provision (or portion thereof) shall be modified so as to be rendered
        valid and enforceable while implementing, to the maximum extent possible, the original intent of such provision
        (or portion thereof). If such modification is not possible or allowed, then such provision (or portion thereof)
        shall be ineffective only to the extent of such unenforceability or invalidity without affecting the remainder
        of such provision or any other provisions (or any portion thereof) contained herein.</p>

    <p>Miscellaneous.</p>

    <p>Subject to any directly conflicting terms or conditions of your Registration or Subscription, in which case the
        terms and conditions of the Registration or Subscription shall apply, these Terms of Use constitute the entire
        agreement of the parties with respect to the subject matter hereof and supersede all previous written or oral
        agreements between the parties with respect to such subject matter.</p>

    <p>These Terms of Use and the relationship between the parties shall in all aspects be governed by and construed in
        accordance with the internal laws of the State of Michigan without giving effect to any choice or conflict of
        law provision or rule (whether of the State of Michigan or any other jurisdiction) that would cause the
        application of the laws of any jurisdiction other than the State of Michigan, and the obligations, rights and
        remedies of the parties shall be determined in accordance with such laws.</p>

    <p>The parties agree that any litigation one (or more) party(ies) commences, maintains and/or is engaged in against
        any other party and/or parties (whether pursuant to these Terms of Use or otherwise) shall be brought
        exclusively in the courts of the State of Michigan, Washtenaw County, or the federal courts of the United States
        of America in the Eastern District of Michigan County, with any right to bring, commence, engage and/or maintain
        litigation in any other courts being hereby waived to the fullest extent permitted by law.</p>

    <p>Each party hereby irrevocably submits generally and unconditionally for themselves and with respect to any and
        all property that is the subject matter hereof, to the jurisdiction of the state courts in the State of
        Michigan, Washtenaw County, or any United States federal court in the Eastern District of Michigan.</p>

    <p>Each party hereby irrevocably waives, to the fullest extent permitted by law, any objection that it/they may now
        or hereafter have to the laying of venue in any such court and any claim that any such court is an inconvenient
        forum. The section headings used herein are for convenience only and shall not be given any legal import.</p>

    <p>REGARDLESS OF IF AND/OR WHEN YOU READ THESE TERMS OF USE, BY VISITING AND/OR USING THE SITE AND/OR THE CONTENT,
        OR ANY PAGE AND/OR LINK ASSOCIATED WITH THE SITE AND/OR THE CONTENT, OR USING ANY SERVICES ASSOCIATED WITH THE
        SITE YOU AGREE TO BE BOUND BY THESE TERMS OF USE, AND YOU ACKNOWLEDGE THAT SUCH AGREEMENT CONSTITUTES A BINDING
        CONTRACT BETWEEN YOU AND PINKERTON IF YOU DO NOT AGREE TO THESE TERMS OF USE, YOU ARE NOT AUTHORIZED TO USE
        AND/OR ACCESS THE SITE AND/OR THE CONTENT AND YOU SHOULD IMMEDIATELY CEASE USING AND/OR ACCESSING THE SITE, THE
        CONTENT, AND/OR PINKERTON’S BROKER NETWORK AND OTHER THIRD PARTY INFORMATION AND/OR SERVICES.</p>

    <p>Copyright &copy; 2020 PINKERTON<sup>&reg;</sup>. All the trademarks displayed on this page are the property of
        PINKERTON<sup>&reg;</sup></p>
</div>
<div class="row tc-checkbox-field">
    <div class="col-md-8">
        <div class="form-check pl-2">
            <input class="form-check-input" type="checkbox" id="notigridCheck">
            <label class="form-check-label" for="notigridCheck">
                By checking this box you have agreed with our Terms of Services, Privacy Policy, and default notification settings
            </label>
          </div>
    </div>
    <div class="col-md-4">
        <button class="btn default-btn outline-btn" routerLink="/main">Continue</button>
    </div>
</div>
</div>