.copyright {
    padding: 25px 160px;
    font-size: 14px;
    color: #888888;
    font-weight: bold;
}

.bottom-link {
    display: flex;
    width: 100%;
    padding: 0 15px;

    a.link {
        padding: 10px 20px;
    font-size: 14px;
    font-family: arial;
    text-decoration: none;
    display: flex;
    color: #BBBBBB;
    cursor: pointer;
    width: 100%;
    }
}

@media screen and (max-width: 768px) {
.copyright {
    font-size: 9px;
    margin-bottom: 20px;
}
}