<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
              <left-wrapper></left-wrapper>
            </div>
            <div class="col-md-8 pr-0 grey-bg">
                <div class="login-panel">
                    <p class="not-member">Already a member? <a routerLink="/login" class="sign-up-link">Sign in</a></p>
                    <div class="form-field">
                        <h3>Sign Up</h3>
                        <div class="form-row">
                        <div class="mb-3 col">
                          <label class="form-label">Full Name</label>
                          <input type="text" placeholder="full name" class="form-control">   
                        </div>
                        <div class="mb-3 col">
                            <label class="form-label">Username</label>
                            <input type="text" placeholder="username" class="form-control">   
                          </div>
                    </div>

                    <div class="form-row">
                        <div class="mb-3 col">
                          <label class="form-label">Phone Number</label>
                          <input type="text" placeholder="phone number" class="form-control">   
                        </div>
                        <div class="mb-3 col">
                            <label class="form-label">Referral ID <i>(opt.)</i></label>
                            <input type="text" placeholder="referral id" class="form-control">   
                          </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="text" placeholder="email" class="form-control">   
                      </div>
                        <div class="mb-3">
                          <label class="form-label">Password</label>
                          <input type="password" placeholder="6+ characters" class="form-control">   
                        </div>
                        <div class="mb-3">
                        <div class="form-check">
                          <input type="checkbox" checked class="form-check-input">
                          <label class="form-check-label">Remember Me</label>
                      </div>
                                
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                              <input type="checkbox" checked class="form-check-input">
                              <label class="form-check-label">By checking this box you have agreed with our Terms of Services, Privacy Policy,
                                and defect notification settings</label>
                          </div>
                                    
                            </div>
                        <div class="mb-3">
                          <button class="btn default-btn outline-btn">Sign Up</button>
                      </div>
                      <div class="mb-3 or-field">
                          <span>Or</span>
                      </div>
                  
                      <div class="mb-3">
                          <button class="btn default-btn">Sign In with Google</button>
                      </div>
                    </div>
                   
                  </div>
                  
           
            <footer></footer>
            </div>
        </div>
    </div>
    </div>