<div class="wrapper">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <left-wrapper></left-wrapper>
      </div>
      <div class="col-md-8 pr-0 grey-bg">
        <div class="successAlertMessages" *ngIf="signupSuccess">
          <alert type="success">
            If the email address entered was used to create an account, instructions will be sent to you. Please check
            your email.
          </alert>
        </div>
        <div class="login-panel">
          <p class="not-member">Already a member? <a routerLink="/login" class="sign-up-link">Sign in</a></p>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-field">
              <h3>Sign Up</h3>
              <div class="form-row">
                <div class="mb-3 col">
                  <label class="form-label">First Name</label>
                  <input formControlName="firstName" type="text" placeholder="first name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                </div>
                </div>
                <div class="mb-3 col">
                  <label class="form-label">Last Name</label>
                  <input formControlName="lastName" type="text" placeholder="last name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                  <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </div>
                </div>
              </div>
              <div class="form-row">
                <div class="mb-3 col">
                  <label class="form-label">Phone Number</label>
                  <input formControlName="phoneNumber" type="text" placeholder="phone number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
                  <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.phoneNumber.errors.required">Phone no is required</div>
                </div>
                </div>
              </div>
              <div class="mb-3 form-group">
                <label class="form-label">Email</label>
                <input formControlName="email" type="text" placeholder="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
              </div>
              </div>
              <div class="mb-3 form-group">
                <label class="form-label">Password</label>
                <input formControlName="password" type="password" placeholder="6+ characters" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
              </div>
              <div class="mb-3">
                <div class="form-check">
                  <input type="checkbox" checked class="form-check-input">
                  <label class="form-check-label">Remember Me</label>
                </div>
              </div>
              <div class="mb-3">
                <div class="form-check">
                  <input type="checkbox" checked class="form-check-input">
                  <label class="form-check-label">By checking this box you have agreed with our Terms of Services,
                    Privacy Policy,
                    and defect notification settings</label>
                </div>
              </div>
              <div class="mb-3 signup-btn-field">
               
                <button class="btn default-btn outline-btn">Sign Up</button>
              </div>
              <div class="mb-3 or-field">
                <span>Or</span>
              </div>

              <div class="mb-3 signup-google-btn-field">
                <button class="btn default-btn">Sign Up with Google</button>
              </div>
            </div>
          </form>
        </div>


        <footer></footer>
      </div>
    </div>
  </div>
</div>