<div class="wrapper">
    <div class="main-header">
        <header></header>
    </div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-3 pl-0 pr-0">
                <div class="left-content">
                   <left-navigation></left-navigation>
                </div>
            </div>
            <div class="col-md-9 col-lg-9 pl-0 pr-0">
                <div class="right-content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
   
    
</div>
</div>

