<div class="welcomeModal">
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        X
      </button>
    <carousel>
        <slide>
         <div class="row">
             <div class="col-md-6 p-0">
                 <div class="left-panel">
                     <h4>Welcome to the <br>
                        Pinkerton Risk Portal</h4>
                        <p class="sub-title">The Pinkerton Risk Portal is your one-stop-shop 
                            for sampling, purchasing, and viewing Pinkerton
                            Crime Index Reports.</p>
                            <p>The Pinkerton Crime Index Report is available in two 
                                formats:</p>
                                <ol>
                                    <li>Standard:  A premium offering at a standard price, 
                                        our Standard Report is perfect for the average client 
                                        looking for an above-average crime report.</li>
                                        <li>Platinum: Featuring a deeper level of analysis, our 
                                            Platinum Report is best for advanced clients that 
                                            demand a little more out of their crime forecasting 
                                            and analysis.</li>
                                </ol>
                 </div>
                
             </div>
             <div class="col-md-6">
                <div class="right-panel"> <img src="assets/images/welcome-img1.png"></div>
             </div>
         </div>
        </slide>
        <slide>
            <div class="row">
                <div class="col-md-6">
                    <div class="left-panel">
                        <h4>Pinkerton Crime Index<br>
                            Report Samples</h4>
                           <p class="sub-title">Preview before you buy with our Pinkerton 
                            Crime Index Report Samples.
                            </p>
                               <p>Featuring popular landmark locals from across
                                the U.S., U.K., and MX, choose from our list of
                                free standard and platinum reports to preview
                                exactly what you’ll receive once you’re ready to
                                purchase a report for a location of your choosing.</p>
                                   
                    </div>
                   
                </div>
                <div class="col-md-6">
                   <div class="right-panel"> <img src="assets/images/welcome-img2.png"></div>
                </div>
            </div>
           </slide>
           <slide>
            <div class="row">
                <div class="col-md-6">
                    <div class="left-panel">
                        <h4>Purchasing a Report</h4>
                           <p  class="sub-title">Once you’ve selected a report location on the
                            map, we offer two convenient purchase methods:</p>
                              
                                   <ol>
                                       <li>A la carte: For single report purchases, simply select 
                                        "add to cart" and continue to billing and payment options.</li>
                                           <li>Credits: When purchasing multiple reports, our credits 
                                            option offers a convenient way to receive bulk discounts, 
                                            allowing you to select your desired volume of credits and
                                            preview the discount before purchasing. Credits can then
                                            be used to redeem reports at your convenience.</li>
                                   </ol>
                    </div>
                   
                </div>
                <div class="col-md-6">
                   <div class="right-panel"> <img src="assets/images/welcome-img3.png"></div>
                </div>
            </div>
           </slide>
           <slide>
            <div class="row">
                <div class="col-md-6">
                    <div class="left-panel">
                        <h4>Viewing Your Pinkerton <br>
                            Crime Index Report</h4>
                           <p>Once you’ve completed your purchase, any 
                            available reports will be accessible for viewing 
                            and download from the “My Reports” section of 
                            the homepage.</p>
                    </div>
                   
                </div>
                <div class="col-md-6">
                   <div class="right-panel"> <img src="assets/images/welcome-img4.png"></div>
                </div>
            </div>
           </slide>
      </carousel>
</div>