<div class="wrapper">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
           <div class="left-panel">
            <a class="logo"><img src="assets/images/logo.svg"></a>
            <div class="blank-height"></div>
            <div class="title">
            <h1>Pinkerton Risk Portal</h1>   
            </div>
            <p>Comprehensive risk technoloy to navigate incoming threats</p> 
            <div class="bottom-link">
            <a class="link">Terms</a>
            <a class="link">Privacy</a>
            <a class="link">Learn More</a>
            </div>
           </div> 
        </div>
        <div class="col-md-8 pr-0 grey-bg">
        <login></login>
        
        <footer></footer>
        </div>
    </div>
</div>
</div>