<div class="card">
<div class="mb-3">
    <label class="form-label">Old Password</label>
    <input type="text" class="form-control" placeholder="first name">
</div>
<div class="mb-3">
    <label class="form-label">New Password</label>
    <input type="text" class="form-control" placeholder="last name">
</div>
<div class="mb-3">
    <label class="form-label">Confirm Password</label>
    <input type="text" class="form-control" placeholder="phone number">
</div>
<div class="mb-2 mt-4">
    <button class="btn default-btn outline-btn">SUBMIT</button>
</div>
<div class="mb-3 mt-4 forgot-password">
    <label class="form-label"><a>Forgot Password?</a></label>
    
</div>
</div>