.login-panel {
    background: #444;
    color: #fff;
    padding: 50px 80px;
}

.form-field {
    padding: 80px;
}

p.not-member {
    text-align: right;
}

a.sign-up-link {
    color: #ADCBFA !important;
}

.form-control {
    color: #495057;
    background-color: #666;
    border: 0;
    border-radius: 6px;
}

.form-field h3 {
    text-transform: uppercase;
}

.form-group.clear-both {
    clear: both;
    float: left;
    width: 100%;
    .form-check-label {
        color: #ADCBFA;
        font-size: 13px;
    }
}
