<div class="row">
    <div class="col-md-12">
        <h3>Credit</h3>
        <cross></cross>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="inner-box credits-field">
            <div class="inner-content">
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <h5>Get in Contact</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" placeholder="name">
                    </div>
                
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Company</label>
                        <input type="text" class="form-control" placeholder="company">
                    </div>
                
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control" placeholder="email">
                    </div>
                
                    <div class="col-md-12 mb-3 messages-field">
                        <label class="form-label">Message</label>
                        <textarea class="form-control" placeholder="type your message here …"></textarea>
                    </div>
                
                    <div class="col-md-12 mt-2">
                    <button class="btn default-btn outline-btn">Send</button>
                    </div>
                    </div>

                </div>
                </div>
                </div>
                </div>
                






