<div class="row">
    <div class="col-md-12">
        <h3>Credits</h3>
        <cross></cross>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="inner-box credits-field">
            <div class="inner-content">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <h5>Purchase Credits</h5>
                    </div>
                </div>
                <div>
                    <tabset class="credit-tab-panel">
                        <tab heading="STANDARD" id="tab1">
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <ngx-slider [(value)]="value" [options]="options"></ngx-slider>
                                </div>
                                <div class="col-md-6 reach-out-btn text-right">
                                    <button routerLink="/main/getintouch" class="btn outline-btn">REACH US FOR MORE</button>
                                </div>
                            </div>

                            <div class="row mt-5">
                                <div class="col-md-6">
                                    <div class="card price-card">
                                        <div class="row mb-3">
                                            <div class="col-md-8 col-7">
                                                <p>Price Per Report</p>
                                            </div>
                                            <div class="col-md-4 col-5 text-right">
                                                <p class="price">$350 USD</p>
                                                <span class="discount"><small>0% discount</small></span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 col-7">
                                                <p>Total</p>
                                            </div>
                                            <div class="col-md-4 col-5 text-right">
                                                <p class="price">$3500 USD</p>

                                            </div>
                                        </div>

                                        <div class="row btn-field">
                                            <div class="col-md-12">
                                                <button class="btn default-btn">ADD TO CART</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="service-box">
                                        <div class="service-header">
                                            <div class="left">Standard</div>
                                            <div class="right">$350 USD</div>
                                        </div>
                                        <div class="service-details">
                                            <div class="row">
                                                <div class="col-md-8 col-7">Regional Availability</div>
                                                <div class="col-md-4 col-5">US/UK</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8 col-7">Analysis Period</div>
                                                <div class="col-md-4 col-5">12-Month Rolling</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8 col-7">Scoring by Crime Type</div>
                                                <div class="col-md-4 col-5"><img class="checked-icon"
                                                        src="assets/images/checkbox-icon.svg" /></div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8 col-7">Distribution & Severity of Crime</div>
                                                <div class="col-md-4 col-5"><img class="checked-icon"
                                                        src="assets/images/checkbox-icon.svg" /></div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8 col-7">Neighborhood Crime Map</div>
                                                <div class="col-md-4 col-5"><img class="checked-icon"
                                                        src="assets/images/checkbox-icon.svg" /></div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8 col-7">Neighborhood Crime Spillover</div>
                                                <div class="col-md-4 col-5"><img class="checked-icon"
                                                        src="assets/images/checkbox-icon.svg" /></div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8 col-7">County/District Crime Map</div>
                                                <div class="col-md-4 col-5"><img class="checked-icon"
                                                        src="assets/images/checkbox-icon.svg" /></div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8 col-7">State/Region Crime Summary</div>
                                                <div class="col-md-4 col-5"><img class="checked-icon"
                                                        src="assets/images/checkbox-icon.svg" /></div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8 col-7">County/District Trend Analysis</div>
                                                <div class="col-md-4 col-5"><img class="checked-icon"
                                                        src="assets/images/line-icon.svg" />
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8 col-7">Seasonality Variance</div>
                                                <div class="col-md-4 col-5"><img class="checked-icon"
                                                        src="assets/images/line-icon.svg" />
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8 col-7">Peer Comparison</div>
                                                <div class="col-md-4 col-5"><img class="checked-icon"
                                                        src="assets/images/line-icon.svg" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </tab>
                        <tab heading="PLATINUM" id="tab2">
                            <div class="row mt-3">
                                <div class="col-md-7">
                                    <ngx-slider [(value)]="value" [options]="options"></ngx-slider>
                                </div>
                                <div class="col-md-5 reach-out-btn text-right">
                                    <button class="btn outline-btn">REACH US FOR MORE</button>
                                </div>
                            </div>

                            <div class="row mt-5">
                                <div class="col-md-6">
                                    <div class="card price-card">
                                        <div class="row mb-3">
                                            <div class="col-md-8 col-7">
                                                <p>Price Per Report</p>
                                            </div>
                                            <div class="col-md-4 col-5 text-right">
                                                <p class="price">$350 USD</p>
                                                <span class="discount"><small>0% discount</small></span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 col-7">
                                                <p>Total</p>
                                            </div>
                                            <div class="col-md-4 col-5 text-right">
                                                <p class="price">$3500 USD</p>

                                            </div>
                                        </div>

                                        <div class="row btn-field">
                                            <div class="col-md-12">
                                                <button class="btn default-btn">ADD TO CART</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="service-box">
                                        <div class="service-header">
                                            <div class="left"><span class="popular-lebel">Popular</span>Platinum</div>
                                            <div class="right">$350 USD</div>
                                        </div>
                                        <div class="service-details">
                                            <div class="row">
                                                <div class="col-md-8 col-7">Regional Availability</div>
                                                <div class="col-md-4 col-5">US/UK</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8 col-7">Analysis Period</div>
                                                <div class="col-md-4 col-5">12-Month Rolling</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8 col-7">Scoring by Crime Type</div>
                                                <div class="col-md-4 col-5"><img class="checked-icon"
                                                        src="assets/images/checkbox-icon.svg" /></div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8 col-7">Distribution & Severity of Crime</div>
                                                <div class="col-md-4 col-5"><img class="checked-icon"
                                                        src="assets/images/checkbox-icon.svg" /></div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8 col-7">Neighborhood Crime Map</div>
                                                <div class="col-md-4 col-5"><img class="checked-icon"
                                                        src="assets/images/checkbox-icon.svg" /></div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8 col-7">Neighborhood Crime Spillover</div>
                                                <div class="col-md-4 col-5"><img class="checked-icon"
                                                        src="assets/images/checkbox-icon.svg" /></div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8 col-7">County/District Crime Map</div>
                                                <div class="col-md-4 col-5"><img class="checked-icon"
                                                        src="assets/images/checkbox-icon.svg" /></div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8 col-7">State/Region Crime Summary</div>
                                                <div class="col-md-4 col-5"><img class="checked-icon"
                                                        src="assets/images/checkbox-icon.svg" /></div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8 col-7">County/District Trend Analysis</div>
                                                <div class="col-md-4 col-5"><img class="checked-icon"
                                                        src="assets/images/line-icon.svg" />
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8 col-7">Seasonality Variance</div>
                                                <div class="col-md-4 col-5"><img class="checked-icon"
                                                        src="assets/images/line-icon.svg" />
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8 col-7">Peer Comparison</div>
                                                <div class="col-md-4 col-5"><img class="checked-icon"
                                                        src="assets/images/line-icon.svg" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </tab>

                    </tabset>
                </div>
            </div>
        </div>
    </div>

    