<div class="row">
    <div class="col-md-12">
        <h3>Profile and Account Settings</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="inner-box credits-field">
            <div class="inner-content">
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <h5>Information Overview</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="info-left">
                            <p class="set-title">Settings</p>
                            <p><a class="setting-link">Information Overview</a></p>
                            <p><a class="setting-link">Change Password</a></p>
                            <p><a class="setting-link">Payment Methods</a></p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="info-right">
                        <div class="mb-3">
                            <label class="form-label">First Name</label>
                            <input type="text" class="form-control" placeholder="first name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Last Name</label>
                            <input type="text" class="form-control" placeholder="last name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Phone Number</label>
                            <input type="text" class="form-control" placeholder="phone number">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control" placeholder="email">
                        </div>

                        <div class="mb-2 mt-4">
                            <button class="btn default-btn outline-btn">SUBMIT</button>
                            </div>

                    </div>
                   
                </div>
                  

                    

                    

                  
                    </div>
                </div>

                   
                </div>
            </div>
        </div>
   
