.inner-content {
    padding: 25px 80px 40px;

    h5 {
        font-size: 21px;
        font-weight: bold;
        color: #BBBBBB;
    }

    .info-left {
        background: #444;
        border-radius: 10px;
        padding-bottom: 10px;

        p.set-title {
            padding: 20px;
            border-bottom: 1px solid #DDDDDD;
            margin: 0 0 5px;
        }

        a.setting-link {
            color: #EEEEEE;
    padding: 8px 20px;
    display: block;
    font-size: 16px;
    cursor: pointer;
        }
    }

    .info-right {
  
        input.form-control{
              background: #666666;
              border-radius: 10px;
              border: 0;
              box-shadow: 0 0 5px #333;
              min-height: 50px;
              color: #ddd;
        }
 
      
    }

}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent;
    color: #ADCBFA !important;
}

.default-btn {
    line-height: 46px;
    height: 46px;
}

.form-label {
    margin-bottom: .5rem;
    font-weight: bold;
    color: #ddd;
}