<div class="row">
    <div class="col-md-12">
        <h3>Profile and Account Settings</h3>
        <cross></cross>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="inner-box credits-field">
            <div class="inner-content">
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <h5>Information Overview</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="info-left">
                            <p class="set-title">Settings</p>

                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                aria-orientation="vertical">
                                <a class="nav-link setting-link active" id="v-pills-home-tab" data-toggle="pill"
                                    href="#InformationOverview" role="tab" aria-controls="v-pills-home"
                                    aria-selected="true">Information Overview</a>
                                <a class="nav-link setting-link" id="v-pills-profile-tab" data-toggle="pill"
                                    href="#ChangePassword" role="tab" aria-controls="v-pills-profile"
                                    aria-selected="false">Change Password</a>
                                <a class="nav-link setting-link" id="v-pills-messages-tab" data-toggle="pill"
                                    href="#PaymentMethods" role="tab" aria-controls="v-pills-messages"
                                    aria-selected="false">Payment Methods</a>
                            </div>


                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="info-right">


                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="InformationOverview" role="tabpanel"
                                    aria-labelledby="v-pills-home-tab">
                                    <information-overview></information-overview>
                                </div>
                                <div class="tab-pane fade" id="ChangePassword" role="tabpanel"
                                    aria-labelledby="v-pills-profile-tab">
                                <change-password></change-password>
                                </div>
                                <div class="tab-pane fade" id="PaymentMethods" role="tabpanel"
                                    aria-labelledby="v-pills-messages-tab">
                                    <payment-method></payment-method>
                                </div>
                               
                            </div>


                            <div *ngIf="showInformation">

                                

                            </div>

                            <div *ngIf="showchangePassword">

                                Password

                            </div>

                            <div *ngIf="showpaymentMethod">

                                payment

                            </div>
                        </div>



                        <!-- <div *ngIf="show; then thenBlock; else elseBlock">
                                <information-overview></information-overview>
                            </div> -->





                    </div>

                </div>


            </div>


        </div>
    </div>
</div>