<div class="nav">
<ul>
    <li><a (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">CRIME INDEX <i class="ion-ios-arrow-down"></i></a>
        <div id="collapseBasic" [collapse]="isCollapsed">
            <ul class="dropdown">
                <li><a routerLink="sampleReports" routerLinkActive="active-link">SAMPLE REPORTS</a></li>
                <li><a routerLink="credits" routerLinkActive="active-link">CREDITS</a></li>
            </ul>
          </div>
    </li>
</ul> 



</div>
<div class="left-footer">
    <div class="footer-links">
        <a routerLink="terms-condition">Terms & Conditions</a>
        <a>Legal Notice</a>
        <a href="mailto:pinkerton.info@pinkerton.com">pinkerton.info@pinkerton.com</a>
    </div>
    <div class="copyright">
        &copy;2021 Pinkerton Consulting &<br> Investigations, Inc.<br> All Rights Reserved.
    </div>
</div>