<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light pl-0 pr-0">
        <div class="container">
          <a class="navbar-brand" href="#"><img src="assets/images/main-logo.svg"></a>
         
            <ul class="navbar-nav float-right">
                <li class="nav-item dropdown">
                  <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle"
                            aria-controls="dropdown-basic">
                            <i class="ion-md-person icon"></i> <i class="ion-ios-arrow-down"></i>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                        role="menu" aria-labelledby="button-basic">
                      <li role="menuitem"><a class="dropdown-item">Report Purchases</a></li>
                      <li role="menuitem"><a class="dropdown-item">Credit Balances</a></li>
                      <li role="menuitem"><a class="dropdown-item">Profile</a></li>
    
                      <li role="menuitem"><a class="dropdown-item">Log Out</a>
                      </li>
                    </ul>
                  </div>
                
                </li>
                <li class="nav-item">
                  <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn dropdown-toggle"
                            aria-controls="dropdown-basic">
                            <i class="ion-md-notifications icon"></i> <i class="ion-ios-arrow-down"></i>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                        role="menu" aria-labelledby="button-basic">
                      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                      <li class="divider dropdown-divider"></li>
                      <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                      </li>
                    </ul>
                  </div>
                  <!-- <a class="nav-link"><i class="ion-md-notifications icon"></i> <i class="ion-ios-arrow-down"></i></a> -->
                </li>
                <li class="nav-item">
                  <a class="nav-link cart-icon"><i class="ion-md-cart icon"></i> </a>
                </li>
              </ul>
           
         
        </div>
      </nav>
</div>