h4 {
    font-size: 21px;
    color: #ddd;
    font-weight: bold;
    margin-bottom: 20px;
}

.tablist-field  {
    border-bottom: 1px solid #585353;
    padding: 0 90px;
li.nav-item a {
    height: 69px;
    font-size: 16px;
    font-weight: normal;
    color: #ddd;
    line-height: 55px;
    margin-right: 25px;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    position: relative;
    
    
}
}

a.nav-link:hover:before,
.nav-link.active:before {
    content: "";
    height: 5px;
    background: #ADCBFA;
    position: absolute;
    top: 0;
    width: 80px;
    left: 50%;
    transform: translate(-48%, -3px);
}

.tablist-field .nav-link:hover,
.tablist-field .nav-link.active{
    color: #fff;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    border-radius: 0;
    }
    .tablist-field .nav-link.active{
    font-weight: bold !important; 
}

.tab-content {
    padding: 20px 90px;
}

.card {
    background: #444;
    border-radius: 10px;
    margin-bottom: 20px;
    .card-body {
        padding: 0;
    }
    .card-title {
        margin-bottom: .5rem;
        padding: 15px;
        border-bottom: 1px solid #AAAAAA;
        font-size: 14px;
        color: #ddd;
    }

    .item-field {
        padding: 10px 15px 10px;
        border-bottom: 1px solid #AAAAAA;    
    }
.item-details {
    p {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    p.format {
        color: #AAAAAA;
        font-weight: normal;
        margin-bottom: 10px;
    }

    p.quantity {
        font-weight: normal;
    }

    .savelater a {
        text-decoration: underline !important;
        cursor: pointer;
    }
}



.price-detail {
    text-align: right;
    color: #EEEEEE;
    font-size: 16px;
    font-weight: bold;
}

.sub-total {
    height: 75px;
    padding: 30px 15px;
    font-size: 16px;
    color: #eee;
}

.sub-total strong {
    padding-left: 10px;
}

.row.row-item {
    padding-bottom: 10px;
}

}

hr {
    margin: 25px 0;
}

.back {
    font-size: 18px;
    color: #888888;
    padding: 10px 0;
    cursor: pointer;

     i {
        padding-right: 8px;
    }
}



#billingAddress {
.card {
    padding: 20px;
}

.custom-select-dropdown #customDropdown {
    background: #666;
}

.show button {
    background: #E8F0FD !important;
    border-radius: 10px 10px 0 0 !important;
    color: #000;
    font-size: 16px;
}

.form-control {
    background-color: #666;

}



.promo-field .item-left, .promo-field .item-right {
    margin-bottom: 5px;
}
 .btn-group {
    width: 100%;
}

button#customDropdown {
    width: 100%;
    max-width: 100%;
}

.custom-select-dropdown ul.dropdown-menu.show {
    background: #EEEEEE;
    border-radius: 0 0 10px 10px;
    border: 0;
    margin-top: 0;
    border-top: 1px solid #ddd;
    width: 100%;
    max-height: 200px;
    overflow: auto;
}

.dropdown-item {
    color: #000000;
}

.dropdown-menu li:first-child a.dropdown-item:hover {
    border-radius: 0;
}

.dropdown-menu li:last-child a {
    border: 0;
}

}


#billingAddress .card.order-summary {
    padding: 0;
}

@media screen and (max-width: 767px) {
.inner-box {
    margin: 0;
}

.tablist-field {
    padding: 0;
    text-align: center;
}

li.nav-item {
    width: 100%;
}

.tablist-field li.nav-item a.active {
    margin-right: 0;
    border-bottom: 1px solid #ddd;
}

.tab-content {
    padding: 20px 15px;
}

.item-field .img {
    display: none;
}



}
