<div class="container">
    <div class="cart-panel">
        <div class="row">
            <div class="col-md-12">
                <h3>Cart</h3>
              
               <cross></cross>
              
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="inner-box">
                    <ul class="nav nav-tabs tablist-field" id="tablist-field" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#cart" role="tab"
                                aria-selected="true">Cart</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-toggle="tab" href="#paymentMethod" role="tab"
                                aria-selected="false">Payment Method</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-toggle="tab" href="#billingAddress" role="tab"
                                aria-selected="false">BILLING ADDRESS</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-toggle="tab" href="#confirmation" role="tab"
                                aria-selected="false">Confirmation</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="cart" role="tabpanel">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Items <span class="count">1</span></h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-title">
                                                <div class="row">
                                                    <div class="col-md-8 col-6">
                                                        <div class="item-title">
                                                            Item
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-6">
                                                        <div class="price-title text-right">
                                                            Price
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-field">
                                                <div class="row">
                                                    <div class="col-md-3 pl-1">
                                                        <div class="img">
                                                            <img src="assets/images/default-img.svg" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="item-details">
                                                            <p>Platinum Crime Index Report</p>
                                                            <p class="format">Format: PDF</p>
                                                            <p class="quantity">Quantity <span>-</span>
                                                                <strong>1</strong><span>+</span>
                                                            </p>
                                                            <p class="savelater"><a>Save for Later</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="price-detail">
                                                            $1,000.00
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="sub-total text-right">
                                                <span>Subtotal<strong>$1,000.00</strong></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="card order-summary">
                                        <div class="card-body">
                                            <div class="card-title">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="item-title">
                                                            Order Summary
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="item-field">
                                                <div class="row row-item">
                                                    <div class="col-md-7 col-6">
                                                        <div class="item-left">
                                                            Subtotal
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 col-6">
                                                        <div class="item-right text-right">
                                                            <strong>$1,000.00</strong>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-7 col-6">
                                                        <div class="item-left">
                                                            Tax
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 col-6">
                                                        <div class="item-right text-right">
                                                            <strong>Tax</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="sub-total">
                                                <div class="row">
                                                    <div class="col-md-6 col-6">
                                                        Estimated total
                                                    </div>
                                                    <div class="col-md-6 col-6 text-right">
                                                        <strong>$1,000.00</strong>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <div class="back"><i class="ion-ios-arrow-back"></i>Back</div>
                                </div>

                                <div class="col-md-6 text-right">
                                    <div class="continue"><button class="default-btn btn">Continue</button></div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="paymentMethod" role="tabpanel">
                       
                            <app-payment-tab></app-payment-tab>

                        </div>


                        <div class="tab-pane fade" id="billingAddress" role="tabpanel">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Billing Address</h4>
                                    <p><small>Enter your billing Address</small></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7">
                                    <div class="card">
                                        <div class="card-body">
                                            
   <div class="btn-group form-group custom-select-dropdown" dropdown>
                    <button id="customDropdown" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-basic">
                      {{selectdrop}} <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu"
                        role="menu" aria-labelledby="button-basic">
                      <ng-container *ngFor="let contVal of countries">
                      <li (click)="getValue(contVal.countryName)" role="menuitem"><a class="dropdown-item">{{contVal.countryName}}</a></li>
                    </ng-container>
                    </ul>
                  </div>
                                            <div class="form-group">
                                                <label for="inputAddress">Address</label>
                                                <input type="text" class="form-control" id="inputAddress"
                                                    placeholder="address">
                                            </div>

                                            <div class="form-group">
                                                <label for="inputCity">City</label>
                                                <input type="text" class="form-control" id="inputCity"
                                                    placeholder="city">
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="inputState">State/Region</label>
                                                    <input type="text" class="form-control" id="inputState"
                                                        placeholder="state/region">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputZip">Zip/Postal Code</label>
                                                    <input type="text" class="form-control" id="inputZip"
                                                        placeholder="cip code">
                                                </div>
                                            </div>





                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="card order-summary">
                                        <div class="card-body">
                                            <div class="card-title">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="item-title">
                                                            Order Summary
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="item-field">
                                                <div class="row row-item">
                                                    <div class="col-md-7 col-6">
                                                        <div class="item-left">
                                                            Subtotal
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 col-6">
                                                        <div class="item-right text-right">
                                                            <strong>Subtotal</strong>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-7 col-6">
                                                        <div class="item-left">
                                                            Tax
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 col-6">
                                                        <div class="item-right text-right">
                                                            <strong>Tax</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-field promo-field">
                                                <div class="row">
                                                    <div class="col-md-6 pr-0">
                                                        <div class="item-left">
                                                            Promo code:
                                                        </div>

                                                        <div class="item-left">
                                                            Credit:
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 pl-0">
                                                        <div class="item-right text-right">
                                                            <strong>Promo code</strong>
                                                        </div>
                                                        <div class="item-right text-right">
                                                            <strong>Credit amount</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="sub-total">
                                                <div class="row">
                                                    <div class="col-md-6 col-6">
                                                        Estimated total
                                                    </div>
                                                    <div class="col-md-6 col-6 text-right">
                                                        <strong>Total</strong>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <div class="back"><i class="ion-ios-arrow-back"></i>Back</div>
                                </div>

                                <div class="col-md-6 text-right">
                                    <div class="continue"><button class="default-btn outline-btn btn">PURCHASE</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="tab-pane fade" id="confirmation" role="tabpanel">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Confirmation</h4>
                                    <p><small>Thank you for your order!</small></p>
                                    <p><strong>Your Order ID - 56789557</strong></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7">
                                    <div class="card">
                                       <div class="card-body">
                                        <div class="card-title">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="item-title">
                                                        Billing Information
                                                    </div>
                                                </div>
                                            </div>                                          
                                        </div>
                                     <div class="item-field border-bottom-none">
                                      
                                        <div class="row row-item">
                                            <div class="col-md-7 col-6">
                                                <div class="item-left">
                                                    Name
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-6">
                                                <div class="item-right text-right">
                                                    <strong>Name</strong>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row row-item">
                                            <div class="col-md-7 col-6">
                                                <div class="item-left">
                                                    Country
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-6">
                                                <div class="item-right text-right">
                                                    <strong>Country</strong>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row row-item">
                                            <div class="col-md-7 col-6">
                                                <div class="item-left">
                                                    Address
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-6">
                                                <div class="item-right text-right">
                                                    <strong>Address</strong>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row row-item">
                                            <div class="col-md-7 col-6">
                                                <div class="item-left">
                                                    City
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-6">
                                                <div class="item-right text-right">
                                                    <strong>City</strong>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row row-item">
                                            <div class="col-md-7 col-6">
                                                <div class="item-left">
                                                    State/Region
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-6">
                                                <div class="item-right text-right">
                                                    <strong>State/Region</strong>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row row-item">
                                            <div class="col-md-7 col-6">
                                                <div class="item-left">
                                                    Zip/Postal Code
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-6">
                                                <div class="item-right text-right">
                                                    <strong>Zip/Postal Code</strong>
                                                </div>
                                            </div>
                                        </div>

                                      </div>
                                       </div> 

                                     </div>

                                     <div class="card">
                                        <div class="card-body">
                                         <div class="card-title">
                                             <div class="row">
                                                 <div class="col-md-12">
                                                     <div class="item-title">
                                                         Payment Method
                                                     </div>
                                                 </div>
                                             </div>                                          
                                         </div>
                                      <div class="item-field border-bottom-none">
                                       
                                         <div class="row row-item">
                                             <div class="col-md-3 col-3">
                                                 <div class="item-left">
                                                     Visa
                                                 </div>
                                             </div>
                                             <div class="col-md-9 col-9">
                                                 <div class="row">
                                                <div class="item-left col-md-6 col-4 pr-0 text-right">
                                                    <strong>7777</strong>
                                                </div>
                                                 <div class="item-right col-md-6 col-8 text-right">
                                                     <strong>Exp 02/2022</strong>
                                                 </div>
                                                </div>
                                             </div>
                                         </div>
                                        
 
                                        
 
                                      
 
                                        
 
                                          
 
                                       </div>
                                        </div> 
 
                                      </div>






                                </div>

                                <div class="col-md-5">
                                    <div class="card order-summary">
                                        <div class="card-body">
                                            <div class="card-title">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="item-title">
                                                            Order Summary
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="item-field">
                                                <div class="row row-item">
                                                    <div class="col-md-7 col-6">
                                                        <div class="item-left">
                                                            Subtotal
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 col-6">
                                                        <div class="item-right text-right">
                                                            <strong>$1,000.00</strong>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-7 col-6">
                                                        <div class="item-left">
                                                            Tax
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 col-6">
                                                        <div class="item-right text-right">
                                                            <strong>Tax</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-field promo-field">
                                                <div class="row">
                                                    <div class="col-md-6 col-6 pr-0">
                                                        <div class="item-left">
                                                            Promo code:
                                                        </div>

                                                        <div class="item-left">
                                                            Credit:
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-6 pl-0">
                                                        <div class="item-right text-right">
                                                            <strong>Promo code</strong>
                                                        </div>
                                                        <div class="item-right text-right">
                                                            <strong>Credit amount</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="sub-total">
                                                <div class="row">
                                                    <div class="col-md-6 col-6">
                                                        Estimated total
                                                    </div>
                                                    <div class="col-md-6 col-6 text-right">
                                                        <strong>$1,000.00</strong>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                           
                        </div>






                    </div>
                </div>

            </div>