.left-panel {
    height: 100vh;
    padding: 75px;
    color: #fff;
    .logo img {
        margin-left: -20px;
    }
    h1 {
        text-transform: uppercase;
        font-size: 30px;
    }

    .blank-height {
        height: 100px;
    }
    .bottom-link {
        position: absolute;
        bottom: 20px;
        a.link {
            padding: 10px 20px;
            font-size: 14px;
            font-family: arial;
        }
    }

}