<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
              <left-wrapper></left-wrapper>
            </div>
            <div class="col-md-8 pr-0 grey-bg">
                <div class="login-panel">
                    <p class="not-member">Not a member? <a routerLink="/signup" class="sign-up-link">Sign up now</a></p>
                    <div class="form-field">
                        <h3>Forgot Password</h3>
                        <div class="mb-3">
                            <p>Enter the email address you used when you sign up and we’ll send you the instructions to reset your password.</p>
                
                            <p>For security reasons, we do not store your password. For instructions on how to reset your password, please enter your member email address below.</p>
                        </div>
                        <div class="mb-3 mt-4">
                          <label class="form-label">Email</label>
                          <input type="text" class="form-control">   
                        </div>
                       
                       
                        <div class="mb-3 mt-4">
                          <button class="btn default-btn outline-btn">SEND RESET INFORMATION</button>
                      </div>
                     
                  
                     
                    </div>
                   
                  </div>
                  
                  
           
            <footer></footer>
            </div>
        </div>
    </div>
    </div>







