/* You can add global styles to this file, and also import other style files */
@import "scss/_variables.scss";

body {
    background: #000;
}

.default-btn {
    font-family: $defaultFont;
    background: $primarybtnBg;
    font-size: 16px;
    line-height: 50px;
    font-weight: bold;
    border-radius: 60px;
    padding: 0 35px;
    height: 50px;
    color: $primarybtnColor;
    text-transform: uppercase;
    transition: all .5s;
}

.default-btn:hover {
    background: $primarybtnBgHover;
    color: $primarybtnColorHover;
}

.only-text-btn {
    font-family: $defaultFont;
    background: $transparentbtnBg;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    border-radius: 60px;
    padding: 0 35px;
    height: 50px;
    color: $transparentbtnColor;
    text-transform: uppercase;
}

.only-text-btn:hover {
    color: #ADCBFA;
}

.form-control:focus {
    box-shadow: none;
}

.outline-btn {
    border: 1px solid #adcbfa;
    background: none;
    color: #adcbfa;
}

.outline-btn:hover {
    border: 1px solid #adcbfa;
    background: #ADCBFA;
    color: #fff;
}



.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

::-webkit-input-placeholder { /* Edge */
    color: #000;
    font-size: 12px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000;
    font-size: 12px;
  }
  
  ::placeholder {
    color: #000;
    font-size: 12px;
    margin-top: -3px;
  }