/* You can add global styles to this file, and also import other style files */
@import "scss/_variables.scss";

body {
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: #ddd;
    font-size: 16px;
    line-height: 18px;
}

a {
    text-decoration: none;
}

@media (min-width: 1200px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
}
}

p {
    font-size: 16px;
    line-height: 18px;
    color: #ddd;
}

.default-btn {
    font-family: $defaultFont;
    background: $primarybtnBg;
    font-size: 16px;
    line-height: 50px;
    font-weight: bold;
    border-radius: 60px;
    padding: 0 35px;
    height: 50px;
    color: $primarybtnColor;
    text-transform: uppercase;
    transition: all .5s;
}

.default-btn:hover {
    background: $primarybtnBgHover;
    color: $primarybtnColorHover;
}

.only-text-btn {
    font-family: $defaultFont;
    background: $transparentbtnBg;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    border-radius: 60px;
    padding: 0 35px;
    height: 50px;
    color: $transparentbtnColor;
    text-transform: uppercase;
}

.only-text-btn:hover {
    color: #ADCBFA;
}

.form-control:focus {
    box-shadow: none;
}

.outline-btn {
    border: 1px solid #adcbfa;
    background: none;
    color: #adcbfa;
}

.outline-btn:hover {
    border: 1px solid #adcbfa;
    background: #ADCBFA;
    color: #fff;
}

.grey-bg {
    background: #444;
}


.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

::-webkit-input-placeholder { /* Edge */
    color: #000;
    font-size: 12px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000;
    font-size: 12px;
  }
  
  ::placeholder {
    color: #000;
    font-size: 12px;
    margin-top: -3px;
  }

  .form-field h3 {
    font-size: 32px;
    font-family: arial;
    font-weight: bold;
    margin-bottom: 25px;
    color: #DDDDDD;
}

.form-field .form-label {
        color: #DDDDDD;
        font-size: 16px;
        font-weight: bold;
}


@media screen and (max-width: 767px) {
    .grey-bg {
       padding: 0;
    }

    .form-field .form-row {
        display: block;
    }

    .form-field h3 {
        font-size: 25px;
    }

   body .wrapper .copyright {
        padding: 20px 25px;
    }
    body  .wrapper .login-panel {
        padding:25px !important;
    
        .form-field{
            padding: 0 !important;
        }
    }

    }

    .dropdown-item:focus, .dropdown-item:hover,
    .dropdown-item.active, .dropdown-item:active {
        background-color: #ADCBFA;
        color: #05206A !important;
        font-weight: bold;
    }

    /* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #222;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .inner-box {
    background: #222;
    min-height: 400px;
    box-shadow: 0 0 2px #000;
}
// .mainClassto{
//     border-radius: 10px;
//     overflow: hidden;

// }
h3 {
    font-size: 32px;
    font-weight: bold;
    font-family: arial;
    margin: 0 0 20px;
}