$defaultFont: 'arial';
$defaultColor: #47494a;
$defaultBg: #fff;
$defaultFontSize: 13px;
$primarybtnBg: #ADCBFA;
$primarybtnColor: #05206A;
$primarybtnBgHover:#05206A;
$primarybtnColorHover:#fff;
$transparentbtnBg: none;
$transparentbtnColor: #fff;
