<div class="row">
    <div class="col-md-12">
        <h4>Payment Method</h4>
        <p><small>Choose your method of payment</small></p>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        <input type="hidden" [(ngModel)]="oneAtATime">
        <accordion [closeOthers]="oneAtATime">
            <accordion-group>
                <div class="clearfix form-check" accordion-heading>
                    <input checked type="radio" name="exampleRadios" id="exampleRadios1" class="form-check-input">
                    <label class="form-check-label" for="exampleRadios1">Credit Card</label>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control">
                        </div>
    
                        <div class="mb-3">
                            <label class="form-label">Card Number</label>
                            <input type="text" class="form-control">
                        </div>
    
<div class="row">
    <div class="col-md-12">
        <div class="row">
        <div class="col-md-6">
            <label class="form-label">Month</label>
            <select id="Month" class="form-control">
                <option selected>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
            </select>
        </div>
        <div class="col-md-6 year-field">
       <label class="form-label">Year</label>
            <select id="Month" class="form-control">
                <option selected>2021</option>
                <option>2022</option>
                <option>2023</option>
                <option>2024</option>
                <option>2025</option>
            </select>
        </div>


        <div class="col-md-6">
            <div class="mt-3">
                <label class="form-label">CVV</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    </div>
</div>


                      
                    </div>
            </accordion-group>
            <accordion-group>
                <div class="clearfix form-group form-check" accordion-heading>
                    <input checked type="radio" name="exampleRadios" id="Other" class="form-check-input">
                    <label class="form-check-label" for="Other">Other</label>

                    </div>
                    <div class="card-body">other</div>
            </accordion-group>
            <accordion-group>
                <div class="clearfix form-group form-check" accordion-heading>
                    <input checked type="radio" name="exampleRadios" id="newcard" class="form-check-input">
                    <label class="form-check-label" for="newcard">Add a new card</label>
                    
                   
                    </div>

                    <div class="card-body">Add a new card</div>
             
            </accordion-group>
          </accordion>


        
    </div>

    <div class="col-md-5">
        <div class="card order-summary">
            <div class="card-body">
                <div class="card-title">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="item-title">
                                Order Summary
                            </div>
                        </div>

                    </div>
                </div>
                <div class="item-field">
                    <div class="row row-item">
                        <div class="col-md-7 col-6">
                            <div class="item-left">
                                Subtotal
                            </div>
                        </div>
                        <div class="col-md-5 col-6">
                            <div class="item-right text-right">
                                <strong>$1,000.00</strong>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7 col-6">
                            <div class="item-left">
                                Tax
                            </div>
                        </div>
                        <div class="col-md-5 col-6">
                            <div class="item-right text-right">
                                <strong>Tax</strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sub-total">
                    <div class="row">
                        <div class="col-md-6 col-6">
                            Estimated total
                        </div>
                        <div class="col-md-6 col-6 text-right">
                            <strong>$1,000.00</strong>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-6 text-left">
        <div class="back"><i class="ion-ios-arrow-back"></i>Back</div>
    </div>

    <div class="col-md-6 text-right">
        <div class="continue"><button class="default-btn btn">Continue</button></div>
    </div>
</div>